body {
    padding-top: 70px;
}
.footer {
    border-top: 1px solid #ddd;
    margin-top: 30px;
    padding: 15px 0 30px;
}
.navbar-brand {
    background: url(yii-logo.png) left center no-repeat;
    padding-left: 35px;
}
.tab-content {
    margin-top: 15px;
}

.params-list {
    margin: -8px;
}
.params-list .form-group {
    margin-bottom: 0;
}
.params-list .form-group .help-block {
    margin: 0;
}
.params-list td {
    border-top: none !important;
}
.params-list td.column-check,
.params-list td.column-actions {
    width: 30px;
    vertical-align: middle !important;
}
.params-list td.column-key {
    width: 30%;
}
.params-list tr:last-child button.close {
    display: none;
}