body {
    padding-top: 70px;
}
.footer {
    border-top: 1px solid #ddd;
    margin-top: 30px;
    padding: 15px 0 30px;
}
.navbar-brand {
    background: url(yii-logo.png) 15px center no-repeat;
    padding-left: 50px;
}
.tab-content {
    margin-top: 15px;
}

.params-list {
    margin: -8px;
}
.params-list .form-group {
    margin-bottom: 0;
}
.params-list .form-group .help-block {
    margin: 0;
}
.params-list td {
    border-top: none !important;
}
.params-list td.column-check,
.params-list td.column-actions {
    width: 30px;
    vertical-align: middle !important;
}
.params-list td.column-key {
    width: 30%;
}
.params-list tr:last-child button.close {
    display: none;
}

.nav > li > .info {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav > li > .info > .label {
    white-space: normal;
}

#history > .nav > li > a > .color {
    display: block;
    position: absolute;
    width: 6px;
    left: 0;
    top: 10px;
    bottom: 10px;
}
#history > .nav > li > a:hover > .color {
    top: 0;
    bottom: 0;
    border-radius: 4px 0 0 4px;
}
#history > .nav > li.active > a > .color {
    display: none;
}
